@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
  


body{
    
    font-style: normal;
    letter-spacing: 0.15px;
    
}

details > summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display:none;
}

details > summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display:none;
}

details > summary::after {
    content: url(../public/arrows/down-arrow-svgrepo-com.svg);
}

details[open] > summary::after {
    content: url(../public/arrows/down-arrow-svgrepo-com.svg);
    @apply transform rotate-180;
}

#explore{
  
    color: #01a050;
}
#enhance{
    color: #ffc322;
}
#execute{
    color: #4f9cfa;
}
#excel{
    color:#fc2825
}